Repository TheOdinProject/theodinproject, pull requests merged in 2020-04, with the labels that each got.

#1107 Update NodeJS lessons urls
  db/seeds/08_node_js_course_seeds.rb
Labels: approved

#1110 Fix: DEPRECATION WARNING: Initialization autoloaded the constants Act…
  Gemfile
  Gemfile.lock
Labels: Needs review

#1115 Setup Prism
  .babelrc
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/prism.css
  app/javascript/packs/application.js
  package.json
  yarn.lock
Labels: cleanup

#1114 Remove Gitter references
  app/assets/stylesheets/components/gitter_floating.scss
  app/javascript/src/js/analytics.js
  app/views/shared/_navbar_modal.html.erb
Labels: cleanup

#1113 Install and use Stickyfill through npm package
  app/javascript/packs/application.js
  app/javascript/src/js/lessons.js
  app/javascript/src/js/stickyFill.min.js
  package.json
  yarn.lock
Labels: cleanup

#1108 added main page tiles hyperlinks
  app/assets/stylesheets/components/home/curriculum_details.scss
  app/helpers/application_helper.rb
  app/views/static_pages/home/_curriculum.html.erb
Labels: awaiting changes

#1129 Feature: Display Project Submissions List on Lesson Page
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/components/submissions.scss
  app/javascript/components/project-submissions/components/submission.js
  app/javascript/components/project-submissions/components/submissions-list.js
  app/javascript/components/project-submissions/containers/project-submissions-container.js
  app/javascript/components/project-submissions/index.jsx
  app/javascript/packs/application.js
  app/views/lessons/show.html.erb
  babel.config.js
  config/webpacker.yml
  package.json
  yarn.lock
Labels: Needs review
