Repository TheOdinProject/theodinproject, pull requests merged in 2022-06, with the labels that each got.

#2982 Chore: Resolve Remaining Rubocop RSpec Todo's
  .rubocop.yml
  .rubocop_todo.yml
  spec/controllers/api/lesson_completions_controller_spec.rb
  spec/requests/api/lesson_completions_spec.rb
  spec/serializers/course_serializer_spec.rb
  spec/serializers/section_serializer_spec.rb
  spec/services/messages/dead_link_spec.rb
  spec/system/course_progress_badge_spec.rb
  spec/system/lesson_navigation_spec.rb
  spec/system/user_dashboard/open_course_spec.rb
  spec/system/user_dashboard/resume_course_spec.rb
  spec/system/user_reset_progress_spec.rb
Labels: Type: Chore, ruby, Status: Under Review

#3013 Chore: Update Initializer Files to Rails 6.1 Defaults
  config/application.rb
  config/initializers/assets.rb
  config/initializers/backtrace_silencers.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/permissions_policy.rb
  config/initializers/secret_token.rb
Labels: Status: Needs Review

#3032 Feature: Add lesson-note class in lesson content
  app/assets/stylesheets/components/lesson/lesson_content.scss
Labels: Status: Needs Review, Type: Design
