Repository TheOdinProject/theodinproject, pull requests merged in 2022-05, with the labels that each got.

#2862 Chore: update lesson urls in `javascript_lessons.rb` & `react_lessons.rb`
  db/fixtures/lessons/javascript_lessons.rb
  db/fixtures/lessons/react_lessons.rb
Labels: Type: Chore, Type: Epic

#2890 Fix: Correct typo in lesson seed that broke github import
  db/fixtures/lessons/javascript_lessons.rb
Labels: Type: Bug, Status: Accepted

#2920 Change channel name to match current discord channel
  CONTRIBUTING.md
Labels: Status: Needs Review, Type: Documentation
