Repository TheOdinProject/theodinproject, pull requests merged in 2022-04, with the labels that each got.

#2823 Revert "Revert "Chore: Refactor Course Page to use Tailwind""
  app/assets/stylesheets/components/courses/course_section.scss
  app/assets/stylesheets/components/courses/section_lessons.scss
  app/components/card/body_component.html.erb
  app/components/card/body_component.rb
  app/components/card/footer_component.html.erb
  app/components/card/footer_component.rb
  app/components/card/header_component.html.erb
  app/components/card/header_component.rb
  app/components/card_component.html.erb
  app/components/card_component.rb
  app/components/complete_icon_button_component.html.erb
  app/components/lessons/title_link_component.html.erb
  app/components/lessons/title_link_component.rb
  app/controllers/courses_controller.rb
  app/helpers/course_helper.rb
  app/javascript/layouts/layout.css
  app/views/courses/course/_section-lessons.html.erb
  app/views/courses/course/_sections.html.erb
  app/views/courses/show.html.erb
  app/views/sections/_section.html.erb
  spec/components/lessons/title_link_component_spec.rb
  spec/controllers/courses_controller_spec.rb
  spec/helpers/course_helper_spec.rb
Labels: Status: Do Not Merge

#2786 Chore: update lesson URLs for Advanced HTML/CSS course
  db/fixtures/lessons/html_and_css_lessons.rb
Labels: Type: Chore, Status: Awaiting Changes, Type: Epic

#2844 Chore: update JavaScript lesson URLs and rename 'ES?' lesson to 'What is ES6?'
  db/fixtures/lessons/javascript_lessons.rb
  db/fixtures/paths/full_stack_javascript/courses/javascript.rb
  db/fixtures/paths/full_stack_rails/courses/javascript.rb
Labels: Type: Chore, Type: Epic
