Repository TheOdinProject/theodinproject, pull requests merged in 2022-08, with the labels that each got.

#3137 Feature: Convert Lesson Content Styling to Tailwind
  app/assets/stylesheets/components/internal_link.scss
  app/assets/stylesheets/components/lesson/lesson_content.scss
  app/assets/stylesheets/dark-mode.css
  app/assets/stylesheets/global.scss
  app/assets/stylesheets/mixins.scss
  app/components/progress_badge_component.html.erb
  app/javascript/application.css
  app/javascript/stylesheets/buttons.css
  app/javascript/stylesheets/lesson-content.css
  app/javascript/stylesheets/typography.css
  app/views/lessons/show.html.erb
  app/views/shared/_bottom_cta.html.erb
  lib/kramdown/converter/odin_html.rb
  spec/services/markdown_converter_spec.rb
  tailwind.config.js
Labels: Type: Enhancement, Status: Needs Review

#3173 Fix: Content Styling on Lesson Preview And Community Pages
  app/javascript/components/lesson-preview/components/lesson-content-preview.jsx
  app/views/static_pages/before_asking.html.erb
  app/views/static_pages/community_expectations.html.erb
  app/views/static_pages/community_rules.html.erb
  app/views/static_pages/dashboard_steps/_github_link.html.erb
Labels: Type: Bug, Status: Needs Review

#3158 Feature: Refactor Lesson Table of Contents to a Stimulus JS
  app/assets/stylesheets/components/lesson/_navigation.scss
  app/assets/stylesheets/dark-mode.css
  app/javascript/application.js
  app/javascript/controllers/lesson_toc_controller.js
  app/javascript/src/js/lessons.js
  app/javascript/src/js/scrollspy.min.js
  app/javascript/stylesheets/lesson-content.css
  app/views/lessons/show.html.erb
  lib/kramdown/content_section.rb
  spec/lib/kramdown/content_section_spec.rb
  spec/lib/kramdown/document_sections_spec.rb
  spec/services/markdown_converter_spec.rb
  tailwind.config.js
Labels: Type: Enhancement, Status: Needs Review

#3176 Fix: Headings with Capital Letters Don't Work with Lesson Toc
  app/javascript/controllers/lesson_toc_controller.js
Labels: Type: Bug, Status: Needs Review

#3191 Chore: Update Intermediate HTML/CSS course lesson seeds
  db/fixtures/lessons/html_and_css_lessons.rb
Labels: Type: Chore

#3198 Fix: Review App's Failing on Release Phase During Deploy
  config/initializers/patch_enable_extension.rb
Labels: Type: Bug, Status: Needs Review

#3181 Chore: Namespace View Components
  app/components/complete/button_component.html.erb
  app/components/complete/button_component.rb
  app/components/complete/icon_component.html.erb
  app/components/complete/icon_component.rb
  app/components/faq/item_component.html.erb
  app/components/faq/item_component.rb
  app/components/progress/badge_component.html.erb
  app/components/progress/badge_component.rb
  app/components/theme/switcher_component.html.erb
  app/components/theme/switcher_component.rb
  app/components/user/profile_dropdown_component.html.erb
  app/views/courses/_course.html.erb
  app/views/courses/course/_banner.html.erb
  app/views/lessons/_header.html.erb
  app/views/lessons/_lesson_buttons.html.erb
  app/views/sections/_section.html.erb
  app/views/shared/_navbar.html.erb
  app/views/shared/_off_canvas_menu.html.erb
  app/views/static_pages/faq.html.erb
  app/views/users/_skill.html.erb
  spec/components/complete/button_component_spec.rb
  spec/components/complete/icon_component_spec.rb
  spec/components/progress/badge_component_spec.rb
  spec/components/theme/switcher_component_spec.rb
Labels: Status: Needs Review, Type: Chore

#3207 Fix: Lodash kebabCase is not compatible with how section id's are bui…
  app/javascript/controllers/lesson_toc_controller.js
Labels: Type: Bug, Status: Needs Review

#3212 Chore: Add Heroku Ruby Runtime Metrics
  Gemfile
  Gemfile.lock
  config/puma.rb
Labels: Status: Needs Review, Type: Chore

#3211 Chore: Heroku Slug Cleanup
  .slugcleanup
  .slugignore
  app.json
Labels: Status: Needs Review, Type: Chore

#3210 Chore: Move Heroku Release Steps to Heroku Rake File
  Procfile
  app.json
  bin/heroku_release
  lib/tasks/heroku.rake
Labels: Status: Needs Review, Type: Chore

#3204 Chore: Remove Unused CSS for Curriculum Pages
  app/assets/stylesheets/application_stylesheet.scss
  app/assets/stylesheets/components/courses/course_card.scss
  app/assets/stylesheets/components/courses/course_card/course_card_header.scss
  app/assets/stylesheets/components/courses/course_card/course_completion_bar.scss
  app/assets/stylesheets/components/courses/course_description.scss
  app/assets/stylesheets/components/courses/curriculum_background.scss
  app/assets/stylesheets/components/lesson/lesson_container.scss
  app/assets/stylesheets/components/lesson/lesson_functions.scss
  app/assets/stylesheets/components/lesson/lesson_header.scss
  app/assets/stylesheets/components/lesson/new_submission_button.scss
  app/assets/stylesheets/dark-mode.css
  app/assets/stylesheets/paths.scss
  app/helpers/course_helper.rb
  spec/helpers/course_helper_spec.rb
Labels: Status: Needs Review, Type: Chore

#3213 Fix: Rendering Images on User Welcome Email
  .slugcleanup
  app/mailers/user_mailer.rb
  app/views/user_mailer/welcome_email.html.erb
  config/environments/production.rb
  spec/mailers/user_mailer_spec.rb
Labels: create-review-app

#3205 Feature: Lesson Toc Style Tweaks
  app/javascript/stylesheets/lesson-content.css
  app/views/lessons/show.html.erb
Labels: Type: Enhancement, Status: Needs Review

#3216 Chore: Replace Hardcoded Prose Color with Theme Color in Tailwind Config
  tailwind.config.js
Labels: Status: Needs Review, Type: Chore
