Repository TheOdinProject/theodinproject, pull requests merged in 2022-07, with the labels that each got.

#3052 Chore: Update Bottom CTA Styles to Tailwind
  app/assets/stylesheets/components/bottom_cta.scss
  app/views/shared/_bottom_cta.html.erb
Labels: Status: Needs Review

#3051 Chore: Convert Path Page Styles to Tailwind
  app/javascript/layouts/buttons.css
  app/views/courses/_course.html.erb
  app/views/courses/_course_card.html.erb
  app/views/paths/show.html.erb
Labels: Status: Needs Review

#3053 Feature: Redesign All Paths Page
  app/assets/stylesheets/dark-mode.css
  app/components/paths/select_button_component.html.erb
  app/components/paths/select_button_component.rb
  app/components/paths/view_button_component.html.erb
  app/components/paths/view_button_component.rb
  app/controllers/paths_controller.rb
  app/models/path.rb
  app/models/user.rb
  app/views/paths/index.html.erb
  db/fixtures/paths/foundations/seed.rb
  db/fixtures/paths/full_stack_javascript/seed.rb
  db/fixtures/paths/full_stack_rails/seed.rb
  db/migrate/20220702170539_add_badge_uri_to_paths.rb
  db/schema.rb
  lib/seeds/path_seeder.rb
  spec/components/paths/select_button_component_spec.rb
  spec/components/paths/view_button_component_spec.rb
  spec/factories/paths.rb
  spec/models/path_spec.rb
  spec/models/user_spec.rb
  spec/system/lesson_navigation_spec.rb
  spec/system/select_path_spec.rb
Labels: Status: Needs Review

#3076 Fix: Course Card Lessons Count Alignment
  app/views/courses/_course.html.erb
Labels: Type: Bug, Status: Needs Review

#3072 Chore: Move Thinkful Advert to TW
  app/assets/stylesheets/components/advert.scss
  app/assets/stylesheets/dark-mode.css
  app/views/lessons/_advert.html.erb
Labels: Type: Chore

#3077 Feature: Use /Dashbord as the Root URL When Authenticated
  app/views/shared/_navbar.html.erb
  config/routes.rb
Labels: Type: Enhancement, Status: Needs Review

#3074 Chore: Extract Lesson Content Clickable Images JS to Stimulus Controller
  app/javascript/controllers/clickable_images_controller.js
  app/javascript/src/js/lessons.js
  app/views/lessons/show.html.erb
Labels: Status: Needs Review, Type: Chore

#3075 Chore: All Paths Page Polish
  app/components/paths/view_button_component.html.erb
  app/views/paths/index.html.erb
Labels: Status: Needs Review, Type: Chore

#3087 Chore: Extract Syntax Highlighting JS
  app/javascript/controllers/syntax_highlighting_controller.js
  app/javascript/src/js/lessons.js
  app/views/lessons/show.html.erb
Labels: Type: Chore

#3086 Chore: Create and Destroy Heroku Review Apps Using GH Labels
  .github/workflows/heroku-review-app-on-label.yml
Labels: Status: Needs Review, Type: Chore, destroy-review-app

#3088 Chore: Extract External Link Targets JS
  app/javascript/controllers/external_link_targets_controller.js
  app/javascript/src/js/lessons.js
  app/views/lessons/show.html.erb
Labels: Status: Needs Review, Type: Chore

#3031 Chore: Convert app to use shakapacker instead of webpacker
  .browserslistrc
  Gemfile
  Gemfile.lock
  Procfile.dev
  app.json
  app/javascript/application.js
  app/javascript/error_tracking.js
  app/views/layouts/_error_tracking.html.erb
  app/views/layouts/application.html.erb
  bin/heroku_release
  bin/webpacker
  bin/webpacker-dev-server
  bin/yarn
  config/initializers/content_security_policy.rb
  config/webpack/development.js
  config/webpack/environment.js
  config/webpack/production.js
  config/webpack/test.js
  config/webpack/webpack.config.js
  config/webpacker.yml
  package.json
  yarn.lock
Labels: Type: Chore

#3089 Fix: Dashboard Open Course Button on Dark Mode
  app/assets/stylesheets/dark-mode.css
  app/views/users/_skill.html.erb
Labels: Type: Bug, Status: Needs Review

#3091 Fix: Borderless Course Badges Issue in Production
  app/assets/images/badges/badge-html-css-borderless.svg
  app/components/progress_badge_component.rb
Labels: Type: Bug, Status: Needs Review

#3098 Chore: Convert Lesson Preview Page to Tailwind
  app/assets/stylesheets/components/lesson/lesson_preview.scss
  app/assets/stylesheets/global.scss
  app/views/lessons/previews/show.html.erb
Labels: Status: Needs Review, Type: Chore

#3090 Feature: Convert Lesson Content Layout to use Tailwind
  app/assets/stylesheets/components/lesson/_navigation.scss
  app/assets/stylesheets/components/lesson/lesson_content.scss
  app/components/progress_badge_component.html.erb
  app/javascript/src/js/lessons.js
  app/views/lessons/_header.html.erb
  app/views/lessons/show.html.erb
Labels: Type: Enhancement, Status: Needs Review, create-review-app

#3096 Chore: Move application.css file to top level of Javascript directory
  app/javascript/application.css
  app/javascript/application.js
  app/javascript/layouts/application.css
  app/javascript/stylesheets/buttons.css
  app/javascript/stylesheets/forms.css
  app/javascript/stylesheets/icons.css
  app/javascript/stylesheets/layout.css
  app/javascript/stylesheets/typography.css
Labels: Status: Needs Review, Type: Chore, create-review-app

#3112 Fix: Bottom CTA Max Width
  app/views/shared/_bottom_cta.html.erb
Labels: Type: Bug, Status: Needs Review

#3116 Fix: Gap Between Content and Nav on Lesson page
  app/views/lessons/show.html.erb
Labels: Type: Bug, Status: Needs Review

#3114 Feature: Reduce Lesson Content Text Size
  app/views/lessons/show.html.erb
Labels: Type: Enhancement, Status: Needs Review

#3095 Chore: Create Content Sections During Markdown to HTML Processing
  app/javascript/src/js/lessons.js
  app/services/markdown_converter.rb
  lib/kramdown/content_section.rb
  lib/kramdown/converter/html_sections.rb
  lib/kramdown/document_sections.rb
  spec/lib/kramdown/content_section_spec.rb
  spec/lib/kramdown/document_sections_spec.rb
  spec/services/markdown_converter_spec.rb
Labels: Status: Needs Review, Type: Chore

#3122 Fix: Nested heading threes breaking detail lists
  lib/kramdown/converter/html_sections.rb
  spec/lib/kramdown/document_sections_spec.rb
Labels: Type: Bug

#3120 Chore: Add Progress Bar to Curriculum Import Task
  lib/tasks/curriculum.rake
Labels: Status: Needs Review, Type: Chore

#3118 Fix: Lesson Content Width on Medium Breakpoint
  app/views/lessons/_header.html.erb
  app/views/lessons/show.html.erb
Labels: Type: Bug, Status: Needs Review

#3117 Chore: Move Lesson Page Footer to Tailwind
  app/assets/stylesheets/components/lesson/complete_button.scss
  app/assets/stylesheets/components/lesson/lesson_button.scss
  app/assets/stylesheets/components/lesson/lesson_button_group.scss
  app/assets/stylesheets/components/lesson/lesson_content.scss
  app/assets/stylesheets/dark-mode.css
  app/components/complete_button_component.html.erb
  app/javascript/components/project-submissions/containers/project-submissions-container.jsx
  app/views/lessons/_lesson_buttons.html.erb
  app/views/lessons/show.html.erb
  app/views/shared/_navbar.html.erb
Labels: Status: Needs Review, Type: Chore

#3125 Chore: Suppress Progress Bar Output in Specs
  spec/tasks/curriculum_spec.rb
Labels: Status: Needs Review, Type: Chore

#3124 Chore: Move Lesson Markdown Enrichment to Kramdown Converter
  app/javascript/controllers/clickable_images_controller.js
  app/javascript/controllers/external_link_targets_controller.js
  app/javascript/src/js/lessons.js
  app/services/markdown_converter.rb
  app/views/lessons/show.html.erb
  lib/kramdown/converter/odin_html.rb
  spec/services/markdown_converter_spec.rb
Labels: Status: Needs Review, Type: Chore

#3145 Fix: Broken Knowledge Check Links
  app/services/markdown_converter.rb
  lib/kramdown/converter/odin_html.rb
  spec/services/markdown_converter_spec.rb
Labels: Type: Bug
