Repository TheOdinProject/theodinproject, pull requests merged in 2022-10, with the labels that each got.

#3361 Chore: Use Page Container on Notification Index
  app/views/notifications/index.html.erb
Labels: Type: Chore

#3368 Chore: Refactor Success Stories Page to use Card Component
  app/views/static_pages/success_stories.html.erb
Labels: Type: Chore

#3366 Chore: Remove Validate.js
  package.json
  yarn.lock
Labels: Type: Chore

#3367 Chore: Remove Old Homepage Styles
  app/assets/stylesheets/components/home/curriculum_details.scss
  app/assets/stylesheets/components/home/hero.scss
  app/assets/stylesheets/components/home/success_stories.scss
Labels: Type: Chore

#3371 Fix: Progress Badge Percentage Visibility
  app/components/progress/badge_component.html.erb
  app/javascript/controllers/progress_controller.js
  tailwind.config.js
Labels: Type: Bug

#3372 Fix: Code Blocks in Lesson Panel Background
  app/javascript/stylesheets/lesson-content.css
Labels: Type: Bug

#3384 Chore: Remove Old CSS Files
  app/assets/stylesheets/components/how_it_works.scss
  app/assets/stylesheets/components/paths.scss
  app/assets/stylesheets/components/project_submissions/submissions.scss
  app/assets/stylesheets/components/style_guide.scss
  app/assets/stylesheets/components/success_stories.scss
Labels: Type: Chore

#3387 Chore: Move Allowed Theme Behaviour into Theme Value Object
  app/controllers/themes_controller.rb
  app/models/users/theme.rb
  spec/models/users/theme_spec.rb
Labels: Type: Chore

#3388 Feature: Standardize sign in vs log in terminology across the site
  .github/ISSUE_TEMPLATE/bug_report.md
  app/assets/images/icons/sign-in.svg
  app/assets/images/icons/sign-out.svg
  app/components/user/profile_dropdown_component.html.erb
  app/controllers/sitemap_controller.rb
  app/helpers/application_helper.rb
  app/helpers/button_helper.rb
  app/javascript/components/project-submissions/components/__tests__/like.test.jsx
  app/javascript/components/project-submissions/components/like.jsx
  app/javascript/error_tracking.js
  app/javascript/src/js/analytics.js
  app/views/layouts/_error_tracking.html.erb
  app/views/lessons/_lesson_buttons.html.erb
  app/views/lessons/show.html.erb
  app/views/shared/_navbar.html.erb
  app/views/shared/_off_canvas_menu.html.erb
  app/views/user_mailer/welcome_email.html.erb
  app/views/users/registrations/new.html.erb
  config/routes.rb
  db/fixtures/lessons/ruby_on_rails_lessons.rb
  spec/components/paths/view_button_component_spec.rb
  spec/components/progress/badge_component_spec.rb
  spec/helpers/button_helper_spec.rb
  spec/system/admin/flags_spec.rb
  spec/system/all_lesson_project_submissions_spec.rb
  spec/system/lesson_completion_spec.rb
  spec/system/sign_in_spec.rb
  spec/system/sign_up_spec.rb
Labels: Type: Enhancement

#3393 Fix: Dashboard Profile Card on Mobile
  app/views/users/show.html.erb
Labels: Type: Bug

#3394 Chore: Remove Tmp Containers
  app/javascript/stylesheets/layout.css
  app/views/courses/show.html.erb
  app/views/lessons/installation_lessons/index.html.erb
  app/views/lessons/project_submissions/index.html.erb
  app/views/paths/index.html.erb
  app/views/paths/show.html.erb
  app/views/static_pages/faq.html.erb
  app/views/static_pages/terms_of_use.html.erb
Labels: Type: Chore

#3399 Chore: Remove More Legacy CSS
  app/assets/stylesheets/application_stylesheet.scss
  app/assets/stylesheets/components/card.scss
  app/assets/stylesheets/components/lesson/complete-icon-button.scss
  app/assets/stylesheets/components/pagination.scss
  app/assets/stylesheets/dark-mode.css
  app/assets/stylesheets/global.scss
  app/assets/stylesheets/mixins.scss
  app/assets/stylesheets/settings.scss
  app/assets/stylesheets/typography.scss
  app/components/complete/icon_component.html.erb
  app/components/faq/item_component.html.erb
  app/helpers/paths_helper.rb
  app/javascript/components/project-submissions/components/flag-form.jsx
  app/javascript/controllers/complete_button_controller.js
  app/javascript/stylesheets/layout.css
  app/views/static_pages/about.html.erb
  app/views/static_pages/home/_curriculum.html.erb
  app/views/user_mailer/welcome_email.html.erb
  spec/helpers/paths_helper_spec.rb
Labels: Type: Chore

#3415 Feature: Reduce brightness of TOC border color in dark mode
  app/javascript/stylesheets/lesson-content.css
Labels: Type: Enhancement

#3430 Chore: Remove Devise Unlocks
  app/views/devise/mailer/unlock_instructions.html.erb
  app/views/devise/unlocks/new.html.erb
Labels: Type: Chore

#3432 Chore: Content Container Component
  app/components/content_container_component.html.erb
  app/components/content_container_component.rb
  app/views/lessons/show.html.erb
  app/views/static_pages/before_asking.html.erb
  app/views/static_pages/community_expectations.html.erb
  app/views/static_pages/community_rules.html.erb
  app/views/static_pages/how_to_ask.html.erb
  app/views/static_pages/terms_of_use.html.erb
  spec/components/content_container_component_spec.rb
Labels: Type: Chore

#3433 Chore: Shared Application Component
  app/components/about_page/belief_component.rb
  app/components/alerts/flash_component.rb
  app/components/announcement_component.rb
  app/components/application_component.rb
  app/components/card/body_component.rb
  app/components/card/footer_component.rb
  app/components/card/header_component.rb
  app/components/card_component.html.erb
  app/components/card_component.rb
  app/components/complete/button_component.rb
  app/components/complete/icon_component.rb
  app/components/content_container_component.html.erb
  app/components/content_container_component.rb
  app/components/faq/item_component.rb
  app/components/lessons/title_link_component.rb
  app/components/logo_component.rb
  app/components/nav/item_component.rb
  app/components/notification_component.rb
  app/components/oauth/connect_button_component.rb
  app/components/paths/select_button_component.rb
  app/components/paths/view_button_component.rb
  app/components/progress/badge_component.rb
  app/components/theme/switcher_component.rb
  app/components/user/avatar_component.rb
  app/components/user/profile_dropdown_component.rb
  app/components/vertical_navigation/container_component.rb
  app/components/vertical_navigation/item_component.rb
Labels: Type: Chore

#3435 Chore: Remove jQuery and popper.js
  Gemfile
  Gemfile.lock
  config/locales/en.bootstrap.yml
  config/webpack/webpack.config.js
  package.json
  yarn.lock
Labels: Type: Chore

#3436 Chore: Add Erblint to Test Script
  bin/test
Labels: Type: Chore

#3437 Chore: Remove legacy dark mode styles
  app/assets/config/manifest.js
  app/assets/stylesheets/dark-mode.css
  app/views/layouts/_dark_mode_styles.html.erb
  app/views/themes/update.turbo_stream.erb
Labels: Type: Chore

#3438 Feature: Improve contrast between complete and incomplete icons
  app/components/complete/icon_component.html.erb
Labels: Type: Enhancement

#3448 Fix: Course Lesson Count Contrast
  app/views/courses/_course.html.erb
Labels: create-review-app

#3449 Chore: Rename Seeder's to Builders
  db/fixtures/paths/foundations/seed.rb
  db/fixtures/paths/full_stack_javascript/seed.rb
  db/fixtures/paths/full_stack_rails/seed.rb
  db/fixtures/seed.rb
  lib/seeds/course_builder.rb
  lib/seeds/lesson_builder.rb
  lib/seeds/path_builder.rb
  lib/seeds/section_builder.rb
  spec/lib/seeds/course_builder_spec.rb
  spec/lib/seeds/lesson_builder_spec.rb
  spec/lib/seeds/path_builder_spec.rb
  spec/lib/seeds/section_builder_spec.rb
Labels: Type: Chore

#3457 Feature: Course page refresh
  app/assets/images/icons/book.svg
  app/assets/images/icons/wrench-screwdriver.svg
  app/components/complete/icon_component.html.erb
  app/components/lessons/title_link_component.html.erb
  app/components/lessons/title_link_component.rb
  app/components/sections/lesson_component.html.erb
  app/components/sections/lesson_component.rb
  app/views/courses/show.html.erb
  app/views/sections/_section.html.erb
  spec/components/lessons/title_link_component_spec.rb
  spec/components/sections/lesson_component_spec.rb
Labels: Type: Enhancement

#3465 Fix: Lesson Icon Shrinking on Mobile
  app/components/sections/lesson_component.html.erb
Labels: Type: Bug

#3386 Feature: Add Lookbook and ViewComponent Previews
  Gemfile
  Gemfile.lock
  app/views/layouts/component_preview.html.erb
  config/environments/development.rb
  config/routes.rb
  spec/components/previews/about_page/belief_component_preview.rb
  spec/components/previews/announcement_component_preview.rb
  spec/components/previews/complete/button_component_preview.rb
  spec/components/previews/complete/icon_component_preview.rb
  spec/components/previews/flash_component_preview.rb
  spec/components/previews/lessons/title_link_component_preview.rb
  spec/components/previews/paths/select_button_component_preview.rb
Labels: create-review-app
