Repository TheOdinProject/theodinproject, pull requests merged in 2022-01, with the labels that each got.

#2568 Update section descriptions in Intermediate HTML/CSS course
  db/fixtures/paths/full_stack_javascript/courses/intermediate_html_css.rb
  db/fixtures/paths/full_stack_rails/courses/intermediate_html_css.rb
Labels: Type: Enhancement, Status: Needs Review

#2564 Rename forms lesson in the JavaScript course
  db/fixtures/lessons/javascript_lessons.rb
  db/fixtures/paths/full_stack_javascript/courses/javascript.rb
  db/fixtures/paths/full_stack_rails/courses/javascript.rb
Labels: Type: Enhancement, Status: Needs Review

#2571 Feature: Footer Redesign
  app/assets/stylesheets/components/courses/course_section.scss
  app/assets/stylesheets/components/footer.scss
  app/assets/stylesheets/dark-mode.css
  app/javascript/packs/application.js
  app/views/devise/registrations/_form.html.erb
  app/views/layouts/application.html.erb
  app/views/shared/_footer.html.erb
  app/views/shared/_footer_cta.html.erb
  package.json
  tailwind.config.js
  yarn.lock
Labels: Status: Needs Review, Type: Design

#2584 Feature: Allow lessons to be marked as installation lessons
  app/controllers/lessons/installation_lessons_controller.rb
  app/models/lesson.rb
  app/views/lessons/installation_lessons/index.html.erb
  config/routes.rb
  db/fixtures/lessons/foundation_lessons.rb
  db/migrate/20220129182526_add_installation_lesson_column_to_lessons.rb
  db/schema.rb
  lib/seeds/lesson_seeder.rb
  spec/models/lesson_spec.rb
Labels: Status: In Progress
