Repository TheOdinProject/theodinproject, pull requests merged in 2022-02, with the labels that each got.

#2619 Adds hover effect to course tiles on home page.
  app/assets/stylesheets/components/home/curriculum_details.scss
  app/assets/stylesheets/dark-mode.css
Labels: Type: Enhancement, Status: Needs Review

#2621 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Status: Needs Review, Type: Documentation

#2652 Chore: Update Contributing Guide
  CONTRIBUTING.md
Labels: Status: Under Review, Type: Documentation

#2653 Fix: three simple spelling mistakes
  CONTRIBUTING.md
Labels: Type: Documentation

#2654 Chore: Add instructions for Odinbot repo to Contributing Guide
  CONTRIBUTING.md
Labels: Type: Documentation

#2665 Feature: Add Practice to lesson headings
  app/javascript/src/js/lessons.js
Labels: Type: Enhancement
