Repository TheOdinProject/theodinproject, pull requests merged in 2022-09, with the labels that each got.

#3262 Chore: Bump to Latest Version of Rails 6.1
  Gemfile
  Gemfile.lock
Labels: Type: Chore

#3179 Feature: Restyle Flash Messages with Tailwind.
  Gemfile
  Gemfile.lock
  app/assets/images/icons/exclamation-circle-solid.svg
  app/assets/images/icons/x-mark.svg
  app/components/alerts/flash_component.html.erb
  app/components/alerts/flash_component.rb
  app/components/alerts/flash_component.yml
  app/controllers/themes_controller.rb
  app/controllers/users/paths_controller.rb
  app/helpers/application_helper.rb
  app/javascript/controllers/flash_controller.js
  app/views/layouts/application.html.erb
  app/views/shared/_flash.html.erb
  app/views/shared/_flash_helper.html.erb
  app/views/shared/_flashes.html.erb
  app/views/shared/_navbar_and_flashes.html.erb
  spec/components/alerts/flash_component_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/system/select_path_spec.rb
  tailwind.config.js
Labels: Type: Enhancement, Status: Needs Review

#3263 Feature: Remove profile link from welcome email
  app/views/user_mailer/welcome_email.html.erb
  app/views/user_mailer/welcome_email.text.erb
Labels: Type: Chore

#3266 Feature: About Page Tweaks
  app/views/static_pages/about.html.erb
  app/views/static_pages/about/_overview.html.erb
  config/locales/en.yml
Labels: Type: Enhancement

#3267 Chore: Move Home Page How it Works Items to Locale File
  app/helpers/application_helper.rb
  app/views/static_pages/home/_how_it_works.html.erb
  config/locales/en.yml
Labels: Type: Chore

#3264 Feature: Redesigned Settings Page
  app/assets/images/icons/exclaimation-circle.svg
  app/assets/images/icons/key.svg
  app/assets/images/icons/refresh.svg
  app/assets/images/icons/trash.svg
  app/assets/images/icons/user-circle.svg
  app/assets/stylesheets/dark-mode.css
  app/builders/tailwind_form_builder.rb
  app/components/user/profile_dropdown_component.html.erb
  app/components/vertical_navigation/container_component.html.erb
  app/components/vertical_navigation/container_component.rb
  app/components/vertical_navigation/item_component.html.erb
  app/components/vertical_navigation/item_component.rb
  app/components/vertical_navigation/item_component.yml
  app/controllers/users/profiles_controller.rb
  app/controllers/users/progress_controller.rb
  app/controllers/users_controller.rb
  app/helpers/users_helper.rb
  app/javascript/application.js
  app/javascript/controllers/form_validation_controller.js
  app/javascript/src/js/settings.js
  app/views/devise/registrations/_danger_zone.html.erb
  app/views/devise/registrations/_form.html.erb
  app/views/devise/registrations/_learning_goal.html.erb
  app/views/devise/registrations/_password.html.erb
  app/views/devise/registrations/_profile.html.erb
  app/views/devise/registrations/edit.html.erb
  app/views/shared/_off_canvas_menu.html.erb
  app/views/users/profiles/edit.html.erb
  config/routes.rb
  config/utility_classes.yml
  package.json
  spec/builders/tailwind_form_builder_spec.rb
  spec/helpers/users_helper_spec.rb
  spec/system/user_account_spec.rb
  spec/system/user_edit_profile_spec.rb
  spec/system/user_reset_progress_spec.rb
  spec/system/user_settings_spec.rb
  tailwind.config.js
  yarn.lock
Labels: Type: Enhancement

#3307 Feature: Replace Mobile Getting Started Icon with Rocket
  app/assets/images/icons/gear.svg
  app/assets/images/icons/ham-burger.svg
  app/assets/images/icons/home.svg
  app/assets/images/icons/information.svg
  app/assets/images/icons/log-in.svg
  app/assets/images/icons/log-out.svg
  app/assets/images/icons/logout.svg
  app/assets/images/icons/map.svg
  app/assets/images/icons/moon.svg
  app/assets/images/icons/rocket.svg
  app/assets/images/icons/speech-bubbles.svg
  app/assets/images/icons/sun.svg
  app/views/shared/_off_canvas_menu.html.erb
Labels: Type: Enhancement

#3308 Chore: Reduce Weekly Dependabot Bumps
  .github/dependabot.yml
Labels: Type: Chore

#3299 Feature: Use New Tailwind Form Design on Sign in Form
  app/builders/tailwind_form_builder.rb
  app/javascript/controllers/form_validation_controller.js
  app/views/devise/sessions/_form.html.erb
  app/views/devise/sessions/new.html.erb
  spec/builders/tailwind_form_builder_spec.rb
Labels: Type: Enhancement, Status: Needs Review

#3300 Feature: Use New Tailwind Form Design on Sign up Form
  app/views/devise/registrations/_form.html.erb
  app/views/devise/registrations/new.html.erb
Labels: Type: Enhancement, Status: Needs Review

#3301 Feature: Use New Tailwind Form Design on Forgot Password Forms
  app/views/devise/passwords/edit.html.erb
  app/views/devise/passwords/new.html.erb
Labels: Type: Enhancement, Status: Needs Review

#3317 Chore: Remove lightning bolt icon
  app/assets/images/icons/lightning-bolt.svg
Labels: Type: Chore

#3314 Chore: Remove Devise Confirmation
  app/views/devise/confirmations/new.html.erb
  app/views/devise/mailer/confirmation_instructions.html.erb
  app/views/devise/shared/_links.erb
  config/initializers/devise.rb
  config/routes.rb
  db/migrate/20220915061812_remove_user_confirmation_columns.rb
  db/schema.rb
  spec/factories/users.rb
Labels: Type: Chore

#3316 Chore: Namespace devise controllers and views under users
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users/passwords_controller.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/views/users/passwords/edit.html.erb
  app/views/users/passwords/new.html.erb
  app/views/users/registrations/edit.html.erb
  app/views/users/registrations/new.html.erb
  app/views/users/sessions/new.html.erb
  config/routes.rb
Labels: Status: Needs Review, Type: Chore

#3325 Chore: Enable Tailwind Form Plugin by Default
  app/javascript/components/project-submissions/components/form/text-area.jsx
  app/javascript/components/project-submissions/components/form/url-field.jsx
  app/views/shared/_footer_cta.html.erb
  app/views/users/passwords/edit.html.erb
  app/views/users/passwords/new.html.erb
  app/views/users/profiles/edit.html.erb
  app/views/users/registrations/edit.html.erb
  app/views/users/registrations/new.html.erb
  app/views/users/sessions/new.html.erb
  tailwind.config.js
Labels: Status: Needs Review, Type: Chore

#3326 Chore: Remove old setting page CSS
  app/assets/stylesheets/components/settings/delete_account.scss
  app/assets/stylesheets/components/settings/settings_card.scss
  app/assets/stylesheets/components/settings/settings_section.scss
  app/assets/stylesheets/components/settings/settings_view.scss
Labels: Status: Needs Review, Type: Chore

#3333 Feature: Support JSX Syntax Hightlighting
  .babelrc
Labels: Type: Enhancement

#3332 Fix: Lesson Preview Styling
  app/controllers/lessons/previews_controller.rb
  app/javascript/components/lesson-preview/components/lesson-content-input.jsx
  app/javascript/components/lesson-preview/index.jsx
Labels: Type: Bug, Type: Enhancement

#3284 Chore: Convert community article markdown to html
  app/views/static_pages/community_expectations.html.erb
  app/views/static_pages/dashboard_steps/community_expectations.md
Labels: Type: Enhancement

#3327 Chore: Convert community articles markdown to html
  app/views/static_pages/before_asking.html.erb
  app/views/static_pages/community_rules.html.erb
  app/views/static_pages/dashboard_steps/before_asking.md
  app/views/static_pages/dashboard_steps/community_rules.md
  app/views/static_pages/dashboard_steps/how_to_ask.md
  app/views/static_pages/how_to_ask.html.erb
Labels: Type: Enhancement

#3328 Feature: Announcements Redesign
  app/admin/announcements.rb
  app/assets/images/icons/x.svg
  app/assets/stylesheets/dark-mode.css
  app/components/announcement_component.html.erb
  app/components/announcement_component.rb
  app/javascript/controllers/announcement_controller.js
  app/views/layouts/application.html.erb
  app/views/shared/_announcement.html.erb
  db/migrate/20220917151628_add_learn_more_url_to_announcements.rb
  db/schema.rb
  spec/components/announcement_component_spec.rb
  spec/factories/announcements.rb
Labels: Type: Enhancement, Status: Needs Review

#3337 Chore: Convert Reset Password Page Styles to Tailwind
  app/controllers/users/password_resets_controller.rb
  app/controllers/users/passwords_controller.rb
  app/views/users/password_resets/edit.html.erb
  app/views/users/password_resets/new.html.erb
  app/views/users/passwords/edit.html.erb
  app/views/users/passwords/new.html.erb
  config/routes.rb
Labels: Status: Needs Review, Type: Chore

#3344 Feature: Convert Sign in Page to Tailwind
  app/assets/images/icons/github.svg
  app/assets/images/icons/google.svg
  app/views/users/sessions/new.html.erb
Labels: Type: Enhancement, Status: Needs Review

#3346 Feature: Convert Sign up Page Styles to Tailwind
  app/components/oauth/connect_button_component.html.erb
  app/components/oauth/connect_button_component.rb
  app/views/shared/_omniauth_buttons.html.erb
  app/views/users/registrations/new.html.erb
  app/views/users/sessions/new.html.erb
  spec/components/oauth/connect_button_component_spec.rb
Labels: Type: Enhancement, Status: Needs Review

#3347 Chore: Remove Old Form Styles
  app/assets/stylesheets/components/form/form.scss
  app/assets/stylesheets/components/form/form_divider.scss
  app/assets/stylesheets/components/toggle.scss
  app/assets/stylesheets/dark-mode.css
  app/assets/stylesheets/global.scss
  app/builders/tailwind_form_builder.rb
  app/javascript/application.css
  app/javascript/components/project-submissions/components/create-form.jsx
  app/javascript/components/project-submissions/components/edit-form.jsx
  app/javascript/components/project-submissions/components/flag-form.jsx
  app/javascript/stylesheets/forms.css
  spec/builders/tailwind_form_builder_spec.rb
Labels: Type: Chore

#3348 Chore: Remove Old Faq Styles
  app/assets/stylesheets/components/faq.scss
Labels: Type: Chore

#3360 Feature: Change Theme Without Page Refresh
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/components/card.scss
  app/components/logo_component.html.erb
  app/components/logo_component.rb
  app/components/theme/switcher_component.html.erb
  app/components/theme/switcher_component.rb
  app/components/theme/switcher_component.yml
  app/components/user/profile_dropdown_component.html.erb
  app/components/user/profile_dropdown_component.rb
  app/controllers/application_controller.rb
  app/controllers/concerns/current_theme.rb
  app/controllers/themes_controller.rb
  app/javascript/application.js
  app/models/users/theme.rb
  app/views/layouts/_dark_mode_styles.html.erb
  app/views/layouts/application.html.erb
  app/views/shared/_footer.html.erb
  app/views/shared/_navbar.html.erb
  app/views/shared/_off_canvas_menu.html.erb
  app/views/themes/update.turbo_stream.erb
  config/cable.yml
  package.json
  spec/components/theme/switcher_component_spec.rb
  spec/models/users/theme_spec.rb
  yarn.lock
Labels: Type: Enhancement
