Repository TheOdinProject/theodinproject, pull requests merged in 2022-03, with the labels that each got.

#2688 Chore: update lesson urls in getting_hired_lessons.rb
  db/fixtures/lessons/getting_hired_lessons.rb
Labels: Type: Chore, Type: Epic

#2689 Chore: remove unused html_css seeds
  db/fixtures/lessons/html_and_css_lessons.rb
Labels: Type: Chore, Type: Epic

#2692 Chore: update databases lessons urls
  db/fixtures/lessons/database_lessons.rb
Labels: Type: Chore, Type: Epic

#2690 Add Rails 7 seed files
  db/fixtures/lessons/ruby_on_rails_lessons.rb
  db/fixtures/paths/full_stack_rails/courses/rails.rb
Labels: Status: Do Not Merge

#2705 Chore: update lesson urls in node_js_lessons.rb
  db/fixtures/lessons/node_js_lessons.rb
Labels: Type: Chore, Type: Epic

#2734 Fix: Update list styling in lessons
  app/assets/stylesheets/components/lesson/lesson_content.scss
Labels: Type: Bug, Status: Under Review

#2736 Fix: Heading rendering in Chromium
  app/javascript/src/js/lessons.js
Labels: Type: Bug

#2745 Feature: add "Lesson Overview" to lesson headings
  app/javascript/src/js/lessons.js
Labels: Type: Enhancement, Status: Needs Review

#2746 Fix: set lesson h3 headings width to fit-content
  app/assets/stylesheets/components/lesson/lesson_content.scss
Labels: Status: Needs Review

#2712 Chore: update rails lesson urls
  db/fixtures/lessons/node_js_lessons.rb
  db/fixtures/lessons/ruby_on_rails_lessons.rb
Labels: Status: Needs Review, Type: Chore, Type: Epic

#2769 Fix - Community Rules - Update crosspost wording
  app/views/static_pages/dashboard_steps/community_rules.md
Labels: Status: Needs Review

#2781 Feature: improve image sizes in lessons
  app/assets/stylesheets/components/lesson/lesson_content.scss
Labels: Type: Enhancement, Status: Needs Review

#2738 Chore: Add test commands for website instructions
  CONTRIBUTING.md
Labels: Status: Needs Review, Type: Documentation
