Repository TheOdinProject/theodinproject, pull requests merged in 2023-06, with the labels that each got.

#3822 Feature: Ability to Enable and Disable Features
  Gemfile
  Gemfile.lock
  app/adaptors/feature.rb
  app/views/static_pages/home.html.erb
  config/initializers/active_admin.rb
  config/routes.rb
  db/migrate/20230527165350_create_flipper_tables.rb
  db/schema.rb
  spec/adaptors/feature_spec.rb
  spec/system/admin/feature_flags_spec.rb
Labels: Type: Enhancement

#3829 Feature: Admin menu link for Sidekiq Dashboard
  config/initializers/active_admin.rb
Labels: Type: Enhancement

#3828 Chore: Move CSS Foundation Lessons to Correct Folder
  db/fixtures/lessons/foundation_lessons.rb
Labels: Type: Chore

#3830 Fix: Admin Flags Button Styling
  app/views/admin/flags/_flag_actions.html.erb
Labels: Type: Bug

#3831 Chore: Replace OpenStruct with Data class
  app/controllers/guides/community_controller.rb
Labels: Type: Chore

#3839 Chore: Display project submissions list using Hotwire
  app/assets/images/icons/flag.svg
  app/assets/images/icons/heart.svg
  app/components/project_submissions/item_component.html.erb
  app/components/project_submissions/item_component.rb
  app/controllers/lessons/v2_project_submissions_controller.rb
  app/views/lessons/_project_submissions.html.erb
  app/views/lessons/show.html.erb
  app/views/lessons/v2_project_submissions/index.html.erb
  config/routes.rb
Labels: Type: Chore

#3841 Chore: Consolidate Stimulus JS Visibility Toggle Controllers
  app/components/faq/item_component.html.erb
  app/components/user/profile_dropdown_component.html.erb
  app/javascript/controllers/css_toggle_controller.js
  app/javascript/controllers/dropdown_controller.js
  app/javascript/controllers/mobile_menu_controller.js
  app/javascript/controllers/open_menu_controller.js
  app/javascript/controllers/reveal_controller.js
  app/javascript/controllers/visibility_controller.js
  app/views/shared/_navbar.html.erb
  app/views/shared/_off_canvas_menu.html.erb
Labels: Type: Chore

#3854 Fix: Disable Turbo when using omniauth to sign in
  app/components/oauth/connect_button_component.html.erb
Labels: create-review-app

#3866 Fix: Lesson table of contents duplicating on Turbo restoration visits
  app/javascript/controllers/lesson_toc_controller.js
Labels: Type: Bug

#3864 Fix: Full page reload when style changes are deployed.
  app/views/layouts/application.html.erb
Labels: Type: Bug

#3867 Chore: Use snapshots to test the Tailwind form builder
  Gemfile
  Gemfile.lock
  package.json
  spec/builders/__snapshots__/tailwind_form_builder/check_box.snap
  spec/builders/__snapshots__/tailwind_form_builder/email_field.snap
  spec/builders/__snapshots__/tailwind_form_builder/label.snap
  spec/builders/__snapshots__/tailwind_form_builder/password_field.snap
  spec/builders/__snapshots__/tailwind_form_builder/text_area.snap
  spec/builders/__snapshots__/tailwind_form_builder/text_field.snap
  spec/builders/__snapshots__/tailwind_form_builder/text_field_with_class.snap
  spec/builders/tailwind_form_builder_spec.rb
Labels: Type: Chore

#3869 Chore: Remove Unused Spec Support Files
  spec/support/api_helper.rb
  spec/support/shared_examples.rb
Labels: Type: Chore

#3880 Fix: JS error with toc item on page navigation.
  app/javascript/controllers/lesson_toc_controller.js
Labels: Type: Bug

#3881 Feature: Use delete request with sign out
  app/components/nav/item_component.html.erb
  app/components/nav/item_component.rb
  app/components/user/profile_dropdown_component.html.erb
  app/views/shared/_off_canvas_menu.html.erb
  config/routes.rb
  spec/components/nav/item_component_spec.rb
Labels: Type: Enhancement

#3872 Feature: Update error pages to match modern TOP styling
  public/400.html
  public/422.html
  public/500.html
Labels: Type: Enhancement

#3894 Fix: Component Preview Layout
  app/views/layouts/component_preview.html.erb
Labels: Type: Bug

#3852 Feature: Add Project Submissions With Hotwire
  app/assets/images/icons/link.svg
  app/builders/tailwind_form_builder.rb
  app/components/application_component.rb
  app/components/modal_component.html.erb
  app/components/modal_component.rb
  app/components/project_submissions/item_component.rb
  app/controllers/lessons/v2_project_submissions_controller.rb
  app/javascript/controllers/modal_controller.js
  app/javascript/stylesheets/buttons.css
  app/models/project_submission.rb
  app/views/layouts/application.html.erb
  app/views/lessons/_project_submissions.html.erb
  app/views/lessons/v2_project_submissions/_form.html.erb
  app/views/lessons/v2_project_submissions/create.turbo_stream.erb
  app/views/lessons/v2_project_submissions/index.html.erb
  app/views/lessons/v2_project_submissions/new.html.erb
  config/routes.rb
  config/utility_classes.yml
  spec/builders/__snapshots__/tailwind_form_builder/email_field.snap
  spec/builders/__snapshots__/tailwind_form_builder/password_field.snap
  spec/builders/__snapshots__/tailwind_form_builder/text_area.snap
  spec/builders/__snapshots__/tailwind_form_builder/text_field.snap
  spec/builders/__snapshots__/tailwind_form_builder/text_field_with_class.snap
  spec/builders/__snapshots__/tailwind_form_builder/text_field_with_leading_icon.snap
  spec/builders/tailwind_form_builder_spec.rb
  spec/models/project_submission_spec.rb
  spec/support/pages/project_submissions/form.rb
  spec/system/v2_lesson_project_submissions/add_submission_spec.rb
Labels: Type: Enhancement
