Repository TheOdinProject/theodinproject, pull requests merged in 2023-07, with the labels that each got.

#3925 Fix: Hotwire submissions add and delete flow
  app/controllers/lessons/v2_project_submissions_controller.rb
  app/views/lessons/v2_project_submissions/_add_button.html.erb
  app/views/lessons/v2_project_submissions/create.turbo_stream.erb
  app/views/lessons/v2_project_submissions/destroy.turbo_stream.erb
  app/views/lessons/v2_project_submissions/index.html.erb
  spec/system/v2_lesson_project_submissions/add_submission_spec.rb
  spec/system/v2_lesson_project_submissions/delete_submission_spec.rb
Labels: Type: Bug

#3948 Fix: Flaky add submission test (round 2)
  spec/system/v2_lesson_project_submissions/add_submission_spec.rb
Labels: Type: Bug

#3945 Feature: Bump Tailwind
  app/javascript/stylesheets/layout.css
  app/views/static_pages/home/_success_stories.html.erb
  package.json
  yarn.lock
Labels: Type: Chore

#3844 Fix: Improve theme switcher UX (#3497)
  app/components/theme/switcher_component.yml
  app/components/user/profile_dropdown_component.html.erb
  app/views/layouts/application.html.erb
  app/views/shared/_navbar.html.erb
  app/views/themes/update.turbo_stream.erb
Labels: create-review-app

#3929 Feature: Liking project submissions with Hotwire
  app/components/project_submissions/item_component.html.erb
  app/components/project_submissions/item_component.rb
  app/components/project_submissions/like_component.html.erb
  app/components/project_submissions/like_component.rb
  app/controllers/lessons/v2_project_submissions_controller.rb
  app/controllers/project_submissions/v2_likes_controller.rb
  app/javascript/controllers/sort_controller.js
  app/models/project_submission.rb
  app/services/project_submissions/mark_liked.rb
  app/views/lessons/v2_project_submissions/index.html.erb
  app/views/project_submissions/v2_likes/create.turbo_stream.erb
  config/initializers/pagy.rb
  config/routes.rb
  package.json
  spec/models/project_submission_spec.rb
  spec/system/v2_lesson_project_submissions/like_spec.rb
  yarn.lock
Labels: Type: Enhancement

#3956 Feature: Moving project solutions to Hotwire final tweaks
  app/components/project_submissions/item_component.html.erb
  app/views/lessons/v2_project_submissions/_add_button.html.erb
  app/views/lessons/v2_project_submissions/_form.html.erb
  app/views/lessons/v2_project_submissions/index.html.erb
  spec/system/v2_lesson_project_submissions/add_submission_spec.rb
  spec/system/v2_lesson_project_submissions/delete_submission_spec.rb
Labels: Type: Enhancement

#3974 Chore: Enable erblint in turbo stream files
  .erb-lint.yml
  app/views/lessons/completions/create.turbo_stream.erb
  app/views/lessons/v2_project_submissions/create.turbo_stream.erb
  app/views/lessons/v2_project_submissions/destroy.turbo_stream.erb
  app/views/lessons/v2_project_submissions/update.turbo_stream.erb
  app/views/project_submissions/v2_likes/create.turbo_stream.erb
  app/views/themes/update.turbo_stream.erb
Labels: Type: Chore

#3973 Feature: Darken course title and lesson count in light theme.
  app/views/courses/_course.html.erb
Labels: Type: Enhancement

#3972 Fix: Inconsistent link hover behaviour
  app/javascript/stylesheets/lesson-content.css
Labels: Type: Bug

#3976 Feature: Split test smaller lesson content font size.
  app/components/content_container_component.html.erb
  app/components/content_container_component.rb
  app/views/lessons/show.html.erb
Labels: Type: Enhancement

#3981 feat: react course
  app/assets/images/badge-react.svg
  app/assets/images/badges/badge-react-borderless.svg
  db/fixtures/lessons/javascript_lessons.rb
  db/fixtures/lessons/react_lessons.rb
  db/fixtures/paths/full_stack_javascript/courses/javascript.rb
  db/fixtures/paths/full_stack_javascript/courses/node_js.rb
  db/fixtures/paths/full_stack_javascript/courses/react.rb
  db/fixtures/paths/full_stack_javascript/seed.rb
  db/fixtures/paths/full_stack_rails/courses/javascript.rb
  db/fixtures/paths/full_stack_rails/courses/react.rb
  db/fixtures/paths/full_stack_rails/seed.rb
Labels: create-review-app

#3996 Fix: Change React badges to 100% width and height
  app/assets/images/badge-react.svg
  app/assets/images/badges/badge-react-borderless.svg
Labels: Status: Needs Review

#4008 Fix: Bottom border radius on settings card
  app/views/users/profiles/edit.html.erb
  app/views/users/registrations/edit.html.erb
Labels: Type: Bug

#4007 Feature: Solutions blank state
  app/assets/images/icons/folder-plus.svg
  app/components/project_submissions/item_component.html.erb
  app/views/lessons/_project_submissions.html.erb
  app/views/lessons/v2_project_submissions/_blank_state.html.erb
  app/views/lessons/v2_project_submissions/create.turbo_stream.erb
  app/views/lessons/v2_project_submissions/destroy.turbo_stream.erb
  app/views/lessons/v2_project_submissions/index.html.erb
Labels: Type: Enhancement

#3968 Feature: Hide live preview input and button
  app/components/project_submissions/item_component.html.erb
  app/views/lessons/v2_project_submissions/_form.html.erb
  spec/support/pages/project_submissions/form.rb
  spec/system/v2_lesson_project_submissions/add_submission_spec.rb
Labels: Type: Enhancement

#3967 Feature: Move Dashboard project solutions to Hotwire.
  app/components/project_submissions/item_component.html.erb
  app/components/project_submissions/item_component.rb
  app/components/project_submissions/like_component.html.erb
  app/components/project_submissions/like_component.rb
  app/components/project_submissions/title_component.html.erb
  app/components/project_submissions/title_component.rb
  app/controllers/lessons/v2_project_submissions_controller.rb
  app/controllers/users/project_submissions_controller.rb
  app/controllers/users_controller.rb
  app/queries/lesson_project_submissions_query.rb
  app/views/lessons/v2_project_submissions/create.turbo_stream.erb
  app/views/lessons/v2_project_submissions/edit.html.erb
  app/views/lessons/v2_project_submissions/index.html.erb
  app/views/lessons/v2_project_submissions/new.html.erb
  app/views/lessons/v2_project_submissions/update.turbo_stream.erb
  app/views/project_submissions/_form.html.erb
  app/views/project_submissions/v2_likes/create.turbo_stream.erb
  app/views/users/_project_submissions.html.erb
  app/views/users/project_submissions/edit.html.erb
  app/views/users/project_submissions/update.turbo_stream.erb
  app/views/users/show.html.erb
  config/routes.rb
  spec/system/v2_lesson_project_submissions/like_spec.rb
  spec/system/v2_user_project_submissions/delete_submission_spec.rb
  spec/system/v2_user_project_submissions/edit_submission_spec.rb
Labels: Type: Enhancement

#4012 Fix: TOC observer race condition when disconnecting.
  app/javascript/controllers/lesson_toc_controller.js
Labels: Type: Bug

#4019 Fix: Notifying Discord when a flag is created.
  app/controllers/project_submissions/flags_controller.rb
Labels: Type: Bug

#4016 Fix: V2 project submissions title hover in dark mode
  app/components/project_submissions/title_component.html.erb
Labels: Type: Bug, create-review-app

#4021 Feature: Like styling tweaks.
  app/assets/images/icons/heart.svg
  app/components/project_submissions/like_component.html.erb
  app/components/project_submissions/like_component.rb
Labels: Type: Enhancement
