Repository TheOdinProject/theodinproject, pull requests merged in 2023-09, with the labels that each got.

#4107 Fix: Creating flags on review apps attempting to notify our flags Discord channel
  app/controllers/project_submissions/flags_controller.rb
Labels: Type: Bug

#4104 Feature: Convert lesson preview to Hotwire
  app/assets/images/icons/clipboard.svg
  app/assets/images/icons/share.svg
  app/components/modal_component.html.erb
  app/controllers/lessons/previews/share_controller.rb
  app/controllers/lessons/previews_controller.rb
  app/javascript/controllers/autosubmit_controller.js
  app/javascript/controllers/clipboard_controller.js
  app/javascript/controllers/share_preview_controller.js
  app/javascript/controllers/tabs_controller.js
  app/views/lessons/previews/_markdown_preview.html.erb
  app/views/lessons/previews/create.turbo_stream.erb
  app/views/lessons/previews/share/create.turbo_stream.erb
  app/views/lessons/previews/show.html.erb
  config/initializers/rack_attack.rb
  config/routes.rb
  package.json
  spec/requests/lessons/previews/share_spec.rb
  spec/requests/lessons/previews_spec.rb
  tailwind.config.js
  yarn.lock
Labels: Type: Enhancement

#4092 Chore: Move css processing to cssbundling-rails
  .gitignore
  Gemfile
  Gemfile.lock
  Procfile.dev
  app/assets/builds/.keep
  app/assets/config/manifest.js
  app/assets/stylesheets/active_admin.scss
  app/assets/stylesheets/application.postcss.css
  app/assets/stylesheets/application_stylesheet.scss
  app/assets/stylesheets/stylesheets/animations.css
  app/assets/stylesheets/stylesheets/buttons.css
  app/assets/stylesheets/stylesheets/layout.css
  app/assets/stylesheets/stylesheets/lesson-content.css
  app/assets/stylesheets/stylesheets/pagy.css
  app/assets/stylesheets/stylesheets/prism-theme.css
  app/assets/stylesheets/stylesheets/static-pages.css
  app/assets/stylesheets/stylesheets/typography.css
  app/views/layouts/application.html.erb
  app/views/layouts/errors.html.erb
  config/application.rb
  package.json
  postcss.config.js
  yarn.lock
Labels: create-review-app

#4124 Feature: Optimize theme switcher performance
  app/components/theme/switcher_component.html.erb
  app/components/theme/switcher_controller.js
  app/controllers/themes_controller.rb
  app/javascript/application.js
  app/javascript/src/custom_turbo_stream_actions.js
  app/views/layouts/application.html.erb
  app/views/themes/update.turbo_stream.erb
  package.json
  spec/requests/themes_spec.rb
Labels: Type: Enhancement

#4138 Chore: Switch our Redis provider to Heroku
  app.json
Labels: Type: Chore

#4148 Fix PULL_REQUEST_TEMPLATE.md indentation
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Needs Review

#4125 Feature: Team Page
  app/assets/images/socials/linkedin.svg
  app/assets/images/socials/website.svg
  app/assets/stylesheets/stylesheets/typography.css
  app/components/team/former_member_component.html.erb
  app/components/team/former_member_component.rb
  app/components/team/member_component.html.erb
  app/components/team/member_component.rb
  app/components/team/navigation_component.html.erb
  app/components/team/navigation_component.rb
  app/controllers/static_pages_controller.rb
  app/helpers/button_helper.rb
  app/javascript/controllers/scroll_to_controller.js
  app/views/static_pages/team.html.erb
  app/views/static_pages/team/_alumni.html.erb
  app/views/static_pages/team/_role.html.erb
  config/locales/team.yml
  config/routes.rb
  spec/.rubocop.yml
  spec/components/team/former_member_component_spec.rb
  spec/components/team/member_component_spec.rb
  spec/components/team/navigation_component_spec.rb
  spec/helpers/button_helper_spec.rb
  spec/requests/static_pages_spec.rb
Labels: Type: Enhancement

#4181 Feature: Use Tailwind prose plugin on support page
  app/views/static_pages/support_us.html.erb
Labels: Type: Enhancement

#4186 Chore: Remove view component data attribute helper
  app/components/application_component.rb
  app/components/card_component.html.erb
  app/components/card_component.rb
  app/components/content_container_component.html.erb
  spec/components/card_component_spec.rb
Labels: Type: Chore
